frontend http-in
    bind              *:8080
    default_backend   web_servers
    option            forwardfor

backend web_servers
    balance     roundrobin
    server      vm3 192.168.10.40:8080 check
    server      vm4 192.168.10.50:8080 check
